table {
  margin-top: 1.2%;
}

table thead {
  font-family: "Lato";
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #979797;
}

table tbody tr td {
  padding-top: 15px;
  font-family: "Lato";
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #3d3d3d;
}

th {
  width: 200px;
}

table tbody tr td:nth-child(5).Success {
  color: #61c378;
}

table tbody tr td:nth-child(5).Failed {
  color: #da5e5b;
}
table tbody tr td:nth-child(5).Progress {
  color: #41afff;
}

table tbody tr td:nth-child(5) {
  color: #f3a356;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /* width of the entire scrollbar */
}

.scroll::-webkit-scrollbar-track {
  background: rgba(196, 196, 196, 0.44);
  border-radius: 3.5px;
  /* color of the tracking area */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #ed1260;
  /* color of the scroll thumb */
  border-radius: 3.5px;
}
